<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338316399269-03ibaocengo98chm9v9d2dtmarukpolj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338316399269-03ibaocengo98chm9v9d2dtmarukpolj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>338316399269-f65gjfttq8gk8omsjfif2to8tvkg0l07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPTyWH_fX8lyPrOSOAldZvFowu3XyRLKc</string>
	<key>GCM_SENDER_ID</key>
	<string>338316399269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-9d4ee</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-9d4ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338316399269:ios:f92f2ffc5ccfb4ecc6734c</string>
	<key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
            	<string>com.googleusercontent.apps.338316399269-03ibaocengo98chm9v9d2dtmarukpolj</string>
            </array>
        </dict>
    </array>
</dict>
</plist>